.carre-logo{
    width: 700px;
    height: 100px;
    background-color: #2F465A;

}
.a-propos{
    position: relative;
    width: 300px;
    height: 100px;
    background-color: #2F465A;
  margin-left: 730px;
 bottom: 100px;
}
.face{
    position: relative;
    width: 300px;
    height: 100px;
    background-color: #2F465A;
    margin-left: 1060px;
    bottom: 200px;
}
.logo{
    width: 80px;
    height: 80px;
   margin-left: 30px;
    padding-top: 10px;
    border-radius: 15px;
}
.propos{
    color: white;
    margin-left: 30px;
    padding-top: 50px;

}
.facebook{
    color: white;
    margin-left: 30px;
    padding-top: 50px;
}
.navbar{
    position: relative;
bottom: 200px;
background-color: #F5F5F5;
}
.acceuil{
    position: relative;
    font-size: 30px;
  right: 300px;
  

}
.forum{
    position: relative;
    font-size: 50px;
   

}
.foruma{
    position: relative;
    width: 100%;
    height:100px ;
    background-color: #2F465A;
    bottom: 10px;
}